@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;900&family=Lexend:wght@500;600;700;800;900&display=swap');
@layer base {
  html,
  body {
    font-family: 'Inter', sans-serif;
  }
}
body {
  font-family: 'Inter', sans-serif;
  background: white;
}
.amb-hero-main-container {
  width: 90%;
}
.amb-abt-main-container {
  width: 90%;
}
.bg-orange-700 {
  background-color: #cf2a10;
}
.main-amb-heading {
  color: #a22c18;
}
.main-amb-para {
  color: #f96201;
}
.about-amb-content {
  background-color: #cf2a10;
  color: white;
  border-radius: 53px;
  padding: 1.5rem;
}
.amb-rep-adv-cont {
  width: 95%;
}
.table-amb-container {
  width: 90%;
  margin: 0 auto;
}

.note-amb {
  width: 50%;
  padding-right: 2rem;
}
.note-heading {
  color: #a22c18;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.amb-note-main-container {
  width: 80%;
  margin: 0 auto;
}
.note-para-refferels {
  font-weight: 700;
}
.note-para-refferels-span {
  font-weight: 300;
}
/* .abt-amb-img-div {
  border: 2px solid green;
} */
/* .hero-amb-content h1 {
  font-size: calc(1.75rem + 1.25vw);
}
.hero-amb-content p {
  font-size: calc(1.1rem + 0.2vw);
} */
.amb-hero-main-container {
  /* border: 2px solid black; */
  padding-top: 0 !important;
}
